{% extends "ultralaser/base.html" %}

{% block open-graph %}
	<meta name="description" content="TV Schedules for PBS 6, PBS Kids, and Ready/World in Southern Arizona">
	<meta name="keywords" content="PBS 6 schedule, PBS Kids schedule, Ready/World Schedule, pbs 6 tv schedule">
	
	<meta property="og:title" content="TV Schedules - AZPM" />
	<meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<meta property="og:description" content="TV Schedules for PBS 6, PBS Kids, and Ready/World in Southern Arizona" />
	<meta property="og:image" content="https://media.azpm.org/master/image/2017/3/29/ogimg/new-schedules.jpg" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@azpm">
	<meta name="twitter:creator" content="@azpm">
	<meta name="twitter:title" content="TV Schedules - Arizona Public Media">
	<meta name="twitter:description" content="TV Schedules for PBS 6, PBS Kids, and Ready/World in Southern Arizona">
	<meta name="twitter:image" content="https://media.azpm.org/master/image/2017/3/29/ogimg/new-schedules.jpg">
{% endblock %}

{% load protrack %}

{% block extra_style %}
	<link href="https://media.azpm.org/master/doc/redesign/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://media.azpm.org/master/doc/redesign/css/azpm.css" rel="stylesheet">
	<link href="https://media.azpm.org/master/doc/redesign/css/bootstrap-datepicker3.css" rel="stylesheet">
{% endblock %}
{% block extra_script %}{% comment %}{% print_form_js %}{% endcomment %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://media.azpm.org/master/doc/redesign/js/bootstrap.min.js"></script>
	<script src="https://media.azpm.org/master/doc/redesign/js/smooth-scroll.js"></script>
	<script src="https://media.azpm.org/master/doc/redesign/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="https://media.azpm.org/ultralaser/js/azpm-uatrack.js"></script>
	<script type="text/javascript" src="https://media.azpm.org/intensifier/js/npr-track_1.js"></script>
{% endblock %}

{% block content %}
	{% block zone_one %}{% endblock %}
{% endblock %}