{% extends "schedules/base.html" %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{{ cms_realm.get_absolute_url }}" title="{{ cms_realm.name }}">{{ cms_realm.name }}</a></li><!-- woot tv realm -->
    <li><a href="{{ cms_section.get_absolute_url }}" title="{{ cms_section.element.name }}">{{ cms_section.element.name }}</a></li><!-- woot schedules app -->
    <li class="last"><a href="{% url 'channel-week-glance' service.keyname idealised_day.year idealised_day.month idealised_day.day %}" title="{{ service.name }}">Weekly for {{ service.name }}</a></li>
</ul>
{% endblock %}

{% block zone_one %}
{% include "schedules/channel_nav.html" %}
{% regroup airing by date as airweek %}
{% for day in airweek %}
<div class="namedbox">
    <h1 class="boxtop bt-blue">{{service.name }} week at a glance</h1>
    <h3 class="schedules-date">{{ day.grouper|date:"l F j, Y" }}</h3>
    <table class="airing-table bordered-table zebra-table">
        <thead><tr>
            <th>Time</th>
            <th>Show</th>
        </tr></thead>{% for showing in day.list %}
        <tr>
            <td class="show-airtime">{{ showing.time|time:"f a" }}</td>
            <td class="show-info"><span class="primetime-series"><a href="{% url 'episode-detail' showing.episode__id %}" title="{{ showing.episode__season__series__name }}">{{ showing.episode__season__series__name }}</a></span><br/>
                <span class="primetime-description">{{ showing.episode__short_description }}</span>
            </td>
        </tr>{% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}

{% block zone_two %}
{{ block.super }}
<div class="namedbox" id="tv-schedules-calendars">
    <h1 class="boxtop bt-grey">Schedule Calendar</h1>
    {% include "schedules/channel_calendar.html" %}
</div>
{% endblock %}
