{% extends "schedules/base.html" %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{{ cms_realm.get_absolute_url }}" title="{{ cms_realm.name }}">{{ cms_realm.name }}</a></li><!-- woot tv realm -->
    <li><a href="{{ cms_section.get_absolute_url }}" title="{{ cms_section.element.name }}">{{ cms_section.element.name }}</a></li><!-- woot schedules app -->
    <li class="last"><a href="{% url 'episode-detail' episode.id %}" title="{{ episode.title }}">Episode of {{ episode.series.name.strip }}</a></li>
</ul>
{% endblock %}

{% block zone_one %}
<div class="namedbox">
    <h1 class="boxtop bt-blue">Episode of {{ episode.season.series.name.strip }}</h1>
    {% if episode.name %}<h2 class="episode-title">{{ episode.name|title }}</h2>{% endif %}
    <span class="episode-numerology">
        {% if episode.season.number %}Season {{ episode.season.number }},&nbsp;{% endif %}Episode {{ episode.number }} of {{ episode.season.total }}
        {% if episode.title %}:&nbsp;{% endif %}
    </span><br/>
    <span class="series-name"><a href="{% url 'series-by-nola' episode.series.nola %}" title="{{ episode.series.name.strip }}">More from this Series</a></span>
    <br/><br/>
    {% if not episode.description %}
        {% if episode.short_description %}
        <p class="episode-description">{{ episode.short_description }}</p>
        {% else %}{% if episode.series.description %}
        <p class="episode-description">{{ episode.series.description }}</p>
        {% endif %}{% endif %}
    {% else %}
        <p class="episode-description">{% if episode.description %}{{ episode.description }}</p>{% else %}No episode description available{% endif %}
    {% endif %}
</div>
{% endblock %}

{% block zone_two %}{% if future_airs %}
<div class="namedbox">
    <h1 class="boxtop bt-red">When to Watch</h1>
    <table class="episode-airings bordered-table zebra-table">
        <thead><tr>
            <th class="episode-airing-day">day</th>
            <th class="episode-airing-time">time</th>
            <th class="episode-airing-channel">channel</th>
        </tr></thead>{% for air in future_airs %}
        <tr>
            <td>{{ air.date|date:"n/j/Y" }}</td>
            <td>{{ air.time|date:"P" }}</td>
            <td>
                <a href="{% url 'channel-date' air.service__keyname air.date.year air.date.month air.date.day %}#{{ air.time|time:'f.a' }}" title="{{ air.service__name }}">{{ air.service__name }}</a>
            </td>
        </tr>{% endfor %}
    </table>
</div>{% endif %}{% if past_airs %}
<div class="namedbox">
    <h1 class="boxtop bt-grey">Previously Aired</h1>
    <table class="episode-airings bordered-table zebra-table">
        <thead><tr>
            <th class="episode-airing-day">day</th>
            <th class="episode-airing-time">time</th>
            <th class="episode-airing-channel">channel</th>
        </tr></thead>{% for air in past_airs %}
        <tr>
            <td>{{ air.date|date:"n/j/Y" }}</td>
            <td>{{ air.time|date:"P" }}</td>
            <td>
                <a href="{% url 'channel-date' air.service__keyname air.date.year air.date.month air.date.day %}#{{ air.time|time:'f.a' }}" title="{{ air.service__name }}">{{ air.service__name }}</a>
            </td>
        </tr>{% endfor %}
    </table>
</div>{% endif %}{% if underwriting_spotlets %}
<div class="namedbox">
    <h1 class="boxtop bt-blue">Support Comes From</h1>
    {% for spot in underwriting_spotlets %}
    <a href="{{ spot.myurl }}" ><img src="{{ spot.image.url }}" alt="{{ spot.underwriter }}"/></a>
    <hr size="6" color="gray" style="margin:0px;" />
    {% endfor %}
</div>{% endif %}
{% endblock %}
