{% extends "schedules/base.html" %}

{% block zone_one %}
<section id="schedules">
		<div class="container-fluid">
			<div class="row">				
				<div class="col-lg-12">
					<span class="top-tag-row">
						<ol class="breadcrumb" style="margin-bottom: 5px;">
						  <li><a href="https://tv.azpm.org/schedules/">TV Schedules</a></li>
						  <li class="active">Primetime</li>
						</ol>
						<a name="top"></a>
					</span>					
				</div>
			</div>
			<div class="row">				
				<div class="col-lg-12">
					<h1>Primetime TV Schedules</h1>	
					{% include "schedules/channel_nav.html" %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 marginbottom">
					<div class="row">
						<div class="col-sm-12">
							<a class="btn btn-primary btn-block hideshbtn" data-toggle="collapse" data-target="#searchsched" aria-expanded="false"><i class="fa fa-search"></i><i class="fa fa-arrow-circle-o-up"></i> Search Schedules</a>
						</div>
					</div>
					<div class="row collapse" id="searchsched">
						<div class="col-sm-12">
							{% search_form form %}
						</div>
					</div>
					{% block print %}{% end block %}
					{% include "schedules/main_calendar.html" %}
				</div>
				
				<div class="col-sm-9">
					{% for set in primetime %}{% if set.airing %}
					{% if forloop.first %}
					<div class="row">
						<div class="col-sm-8">
							<h2>{{ set.service.name }} Tonight</h2>
						</div>
						<div class="col-sm-4">
							<div class="daysched">
								<a href="#">Daytime Schedule</a>
							</div>	
						</div>
					</div>					
					<div class="row schedlistkey">
						<div class="col-sm-3">
							Time					
						</div>
						<div class="col-sm-9">
							Show					
						</div>
					</div>
					{% for showing in set.airing %}
					<div class="row schedlistline">
						<div class="col-sm-3">
							{{ showing.time|time:"f a" }}					
						</div>
						<div class="col-sm-9">
							<a href="{% url episode-detail showing.airing_id %}">{{ showing.airing.season.series.name }}{% if showing.airing.name and showing.airing.name != "None" %}: {{ showing.airing.name }}{% endif %}</a>
							{{ showing.airing.short_description }}				
						</div>
					</div>
					{% endif %}
					{% if not forloop.first %}
					<div class="row marginextratop">
						<div class="col-sm-8">
							<h2>{{ set.service.name }} Tonight</h2>
						</div>
						<div class="col-sm-4">
							<div class="daysched">
								<a href="#">Daytime Schedule</a>
							</div>	
						</div>
					</div>					
					<div class="row schedlistkey">
						<div class="col-sm-3">
							Time					
						</div>
						<div class="col-sm-9">
							Show					
						</div>
					</div>
					{% for showing in set.airing %}
					<div class="row schedlistline">
						<div class="col-sm-3">
							{{ showing.time|time:"f a" }}					
						</div>
						<div class="col-sm-9">
							<a href="{% url episode-detail showing.airing_id %}">{{ showing.airing.season.series.name }}{% if showing.airing.name and showing.airing.name != "None" %}: {{ showing.airing.name }}{% endif %}</a>
							{{ showing.airing.short_description }}				
						</div>
					</div>
					{% endif %}
					{% endfor %}
				{% endif %}{% endfor %}
					
					<div class="row margintop">
						<div class="col-sm-12">
							<a href="#top">Back to Top</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
</section>
{% endblock %}		