{% extends "schedules/base.html" %}

{% block zone_one %}
{% include "schedules/channel_nav.html" %}

{% for set in primetime %}{% if set.airing %}
<div class="namedbox">
    <h1 class="boxtop bt-blue">{{ set.service.name }} Primetime</h1>
    <h3 class="schedules-date">{{ set.day|date:"l, F jS" }}</h3>
    <table class="airing-table bordered-table zebra-table">
        <thead><tr>
            <th>Time</th>
            <th>Show</th>
        </tr></thead>{% for showing in set.airing %}
        <tr>
            <td class="show-airtime">{{ showing.time|time:"f a" }}</td><td class="show-info"><span class="primetime-series"><a href="{% url 'episode-detail' showing.airing_id %}" title="{{ showing.airing.season.series.name }}">{{ showing.airing.season.series.name }}{% if showing.airing.name %}: {{ showing.airing.name }}{% endif %}</a></span><br/><span class="primetime-description">{{ showing.airing.short_description }}</span>
            </td>
        </tr>{% endfor %}
    </table>
</div>{% endif %}{% endfor %}
{% endblock %}

{% block zone_two %}
{{ block.super }}
<div class="namedbox" id="tv-schedules-calendars">
    <h1 class="boxtop bt-grey">Schedule Calendar</h1>
    {% include "schedules/main_calendar.html" %}
</div>{% if underwriting_spotlets %}
<div class="namedbox">
    <h1 class="boxtop bt-blue">Support Comes From</h1>
    {% for spot in underwriting_spotlets %}
    <a href="{{ spot.myurl }}" ><img src="{{ spot.image.url }}" alt="{{ spot.underwriter }}"/></a>
    <hr size="6" color="gray" style="margin:0px;" />
    {% endfor %}
</div>{% endif %}
{% endblock %}
