<div class="row">
	<div class="col-sm-12 text-center">
		<a href="https://pimafriends.com/" target="_blank"><img src="https://media.azpm.org/master/image/2023/1/5/squaread/azpm-jan23-pbskids-2.gif" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Friends of the Pima County Library"></a>
		<span class="support-message">
			Supported by <a href="https://pimafriends.com/" target="_blank">Friends of the Pima County Library</a>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<a href="https://healthyaging.arizona.edu/" target="_blank"><img src="https://media.azpm.org/master/img/uw/2022/12/IIHA-banner_Dec22_672x672.png" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Innovations in Healthy Aging"></a>
		<span class="support-message">
			Supported by <a href="https://healthyaging.arizona.edu/" target="_blank">Innovations in Healthy Aging</a>
		</span>
	</div>
</div>