<div class="row">	
	<div class="col-sm-12 text-center">
		<a href="https://hotelcongress.com/experiences/" target="_blank"><img src="https://media.azpm.org/master/image/2019/12/3/squaread/nye-ad-2.jpg" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Hotel Congress"></a>
		<span class="support-message">
			Supported by <a href="https://hotelcongress.com/experiences/" target="_blank">Hotel Congress</a>
		</span>
	</div>
	<div class="col-sm-12 text-center">
		<a href="http://rescorp.org/" target="_blank"><img src="https://media.azpm.org/master/image/2017/12/22/squaread/rescorp.jpg" class="img-responsive bordergray" style="margin:30px auto 10px auto;" alt="Research Corporation for Science Advancement"></a>
		<span class="support-message">
			Supported by the <a href="http://rescorp.org/" target="_blank">Research Corporation for Science Advancement</a>
		</span>
	</div>
</div>