/* @override */

div#channel-links {
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

div#channel-links a.active-channel { color: #EB5333; }

h3.schedules-date {
    font-size: 14pt;
    margin-top: 8px;
    margin-left: 8px;
}

/* search stuff */
table#series-links th.episode-id span.episode-helper {
    color: #808080;
    font-style: italic;
}

/* main air tables */

table.airing-table {
    width: 100%;
    margin-top: 10px;
}

table.airing-table thead tr { height: 20px !important; }
table.airing-table tr { height: 40px; }

table.airing-table td {
    height: auto;
    vertical-align: top;
    padding: 5px 0 5px 10px;
}

table.airing-table td.show-info a:link { text-decoration: underline; }
table.airing-table td.show-info a.no-href { font-weight: bold; color: black !important; }
table.airing-table td.show-airtime { width: 97px; }

table.airing-table thead tr th.channel-id { width: 140px; }
table.airing-table thead tr th.date-info { width: 80px; }
table.airing-table thead tr th.time-info { width: 80px; }
table.airing-table thead tr th.episode-id { width: auto; }

table.airing-table tr td.show-info blockquote {
    padding: 5px;
}

/* sidebar tables */

table.schedule-calendar {
    margin-top: 10px;
    width: 270px;
    margin-left:  10px;
    border-collapse: collapse;
}

table.episode-airings {
    margin: 5px 10px 0;
    width: 270px;
}
table.episode-airings { text-align: left; }
table.episode-airings thead tr th { font-weight: bold; }
table.episode-airings tr { height: 25px; }
table.episode-airings thead tr th, table.episode-airings tr td { padding: 5px 0 5px 10px; }
table.episode-airings tr th.episode-airing-day { width: 100px; }
table.episode-airings tr th.episode-airing-time { width: 60px; }

table.schedule-calendar tr.weekdays, table.schedule-calendar td.calendar-month {
    background-color: #F5A999;
}

table.schedule-calendar tr.calendar-week {
    background-color: white;
}

table.schedule-calendar td {
    width: 28px;
    padding-right: 2px;
    height: 20px;
    text-align: right; 
}

table.schedule-calendar tr.calendar-week td.week-select a { display: block; }
table.schedule-calendar tr.calendar-week td.day { color: #ccc; }
table.schedule-calendar tr.calendar-week td.day a { color: #000; }
table.schedule-calendar tr.calendar-week td.today, table.schedule-calendar tr.calendar-week td.selected { font-weight: bold; }
table.schedule-calendar tr.calendar-week td.selected a { color: #EB5333 !important; }

table + h2.series-title {
    margin: 10px 0;
}

/* back to top stuff */
#back-top {
	position: fixed;
	bottom: 30px;
	left: 40px;
    display: none;
}

#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
-webkit-transition: 1s;
-moz-transition: 1s;
transition: 1s;
    }
#back-top a:hover {
    color: #F5A999;
}

/* arrow icon (span tag) */
#back-top span {
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url('/static/intensifier/plugins/scrolltotop/img/up-arrow.png') no-repeat center center;

    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #F5A999;
}